<?php
    // API Key for the B2B CDC.
    const CDC_API_KEY = '3_BJLqrUMljxS3ze9PFfS-dnmRT8ZfcNj2-wUBRWaspbBU-Zzm4_2qescSNb4QpzQb';

    // Target to redirect to after password reset (we cannot login right away because we are not in a SAML Login Session).
    const PORTAL_URL = 'https://udina-columbustp-test-services-udina-commerce-approuter.cfapps.eu10.hana.ondemand.com';

// DEV
    const REFERER_URL = "https://b2b-login-dev.columbustp";

    const REDIRECTION_URL = "https://udina-columbustp-test.authentication.eu10.hana.ondemand.com";

// QA
    const REFERER_URL = "https://b2b-login-qa.columbustp";

    const REDIRECTION_URL = "https://udina-columbustp-integration.authentication.eu10.hana.ondemand.com";

// PROD
    const REFERER_URL = "https://b2b-login.columbustp";

    const REDIRECTION_URL = "https://udina-columbustp-prod.authentication.eu10.hana.ondemand.com";
